/* Body */

#app
{
	text-align: center;
}

#logo
{
	margin: 45px 0px;
	max-width: 100%;
	width:300px;
}


/* Login component */

#loginForm
{
	margin:0 auto;
	width:450px;
	max-width: calc(100% - 90px);
	background-color: #fe3d0073;
	color:white;
	border-radius: 10px;
	padding:45px;
}

#loginForm input
{
	border-radius: 10px;
	font-size: 2em;
	border-color: transparent;
	width: calc(100% - 24px);
	outline: none;
	padding: 10px;
	margin-bottom:10px;
	text-align: center;
	text-transform: uppercase;
}

#loginForm input[type="submit"]
{
	border-radius: 10px;
	font-size: 2em;
	border-color: transparent;
	width:100%;
	outline: none;
	padding: 10px;
	cursor:pointer;
	background-color: #fe3d00;
	color:white;
}

#loginForm input[type="submit"]:disabled:hover,#loginForm input[type="submit"]:disabled,#loginForm input[type="submit"]:disabled:active
{
	background-color: grey;
	cursor: not-allowed;
}

#loginForm input[type="submit"]:hover,#loginForm input[type="submit"]:active
{
	background-color: #e43903;
}

#rules
{
	cursor: pointer;
	padding-top: 15px;
	display: block; 
}

#rules:hover,#rules:active
{
	color:#fe3d00;
}

/* End loginComponent */

/* Start pitStopComponent */

#logo-boxes
{
	margin: 25px 0px;
	max-width: 100%;
	width:100px;
}

h2#name
{
	font-size: 1.5em;
	color:#fe3d0073;
	text-transform: uppercase;
}

#car
{
	margin:30px auto;
	width:500px;
	height: auto;
}

#mechanics
{
	margin:30px auto;
	border-radius: 10px;
	border:3px solid grey;
	padding:30px;
	width: auto;
	display: inline-block;
}

#mechanics h3
{
	padding-bottom: 15px;
}

.mechanic
{
	width:90px;
	cursor:move;
	padding-left: 5px;
}